#login {
    transform: scale(1.3);
    margin: 10rem auto;
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.myButton {
    padding: 10px 35px;
    font-size: 24px;
  }