<div class="position">
  <div>
    <h1 id="slogan">Schism is a free planning tool made with simplicity in mind</h1>
  </div>
  <div id="home">
    <button class="my-button" mat-raised-button routerLink="/auth/registration" routerLinkActive="active">Get Started</button>
    <br>
    <h2 class="mt-5">Already have an account?</h2>
    <button class="my-button" mat-raised-button routerLink="/auth/login" routerLinkActive="active">Login</button>
    <br>
    <button class="my-button mt-3" mat-raised-button>Sign in with Google</button>
    <br>
    <button id="learn" class="my-button" mat-raised-button>Learn more</button>
  </div>
</div>
